@charset "UTF-8";
//Typography
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
//Partials
@import '_base.scss';

body {
  font-family: 'Lato';
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-style: normal;
  a {
    cursor: pointer;
    text-decoration: none;
    color: var(--gray);
      &.button {
        font-weight: normal;
        font-size: 13.4564px;
        text-align: center;
        color: var(--white);
        width: 182px;
        height: 42px;
        line-height: 2.75;
      }

      &.gradient {
        background: linear-gradient(0deg, var(--violet), var(--violet));
        border-radius: 48.0586px;
      }

      &.outline {
        border: 1px solid var(--black);
        box-sizing: border-box;
        border-radius: 50px;
        background-color: transparent;
        background-image: none;
        line-height: 17px;
        padding: 9px 18px;
        color: var(--gray);
      }
  }

  &.bg__content {//change name
    background-image: url('../images/background-footer.png'), url('../images/background-valores.png'), url('../images/resource42@3x.png') ,url('../images/img-header@3x.png');
    background-repeat: no-repeat;
    background-position: center bottom, 0 2200px, 50vw 158px, right top;
    @media #{$breakpoint} {
      background-position: center bottom, 0 2500px, center 350px, 0 190px;
      background-size: 100vw 790px, 100vw 1654px, 439px 541px, 100vw 14%;
    }
    background-size: 100vw 790px, 100vw 1654px, 439px 541px, 100vw 1592px;
    z-index: -1;
  }

  &.content__wrapper {//change name
    color: var(--gray);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 60px);
    justify-content: center;
    margin: auto;
    padding: 0 32px 32px 32px;
    max-width: 1329px;
    @media #{$breakpoint} {
      grid-template-columns: repeat(2, 1fr);
      padding: 25px 30px 0 30px;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      z-index: 99999;

      @media #{$breakpoint} {
        justify-content: center;
      }
    }

    .menu__left, .menu__right {
      .menu__item {
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;


        &:first-child {
          margin-right: 36px;
        }

        &:nth-child(2) {
          margin-right: 27px;
        }

        &:nth-child(3) {
          margin-right: 30px;
        }
        &:last-child {
          margin-right: 0;
        }

        .dropdown {
          position: relative;
          padding: .5rem;
          .dropdown__button {
            padding-top: 1rem;
            padding-bottom: 1rem;
            svg.icon-chevron {
              margin-left: .5rem;
            }
          }
        }
      }
    }



    .land__content {//change name
      display: contents;

      .content__left {//change name
        display: flex;
        flex-direction: column;
        grid-column: auto / span 7;
        @media #{$breakpoint} {
          grid-column: 6 / span 4;
          text-align: center;
          font-size: 34px;
        }

        h1 {
          font-weight: 900;
          font-size: 50px;
          line-height: 60px;
          margin-top: 133px;
          margin-bottom: 0;
          @media #{$breakpoint} {
            margin-top: 0;
            line-height: 41px;
            font-size: 34px;
            align-items: center;
          }
        }
        p.subtitle {
          font-weight: 300;
          font-size: 20px;
          line-height: 24px;
        }
        a.button {
            border-radius: 50px;
            background: var(--violet);
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: var(--white);
            margin-top: 44px;
            width: 182px;
            height: 42px;
        }
      }
      .content__right { //change name
        display: flex;
        grid-column: auto / span 5;
      }
    }

    .land__products {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @media #{$breakpoint} {
        grid-column: 6 / span 4 !important;
      }
      .content__product {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 0 ;
        &:nth-child(odd) {
          flex-direction: row;
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
        @media #{$breakpoint} {
          flex-direction: column-reverse !important;
        }
        .info__img {
          margin-top: 30px;
          &.wallet {
            background-image: url("../images/wallet@3x.png");
            background-repeat: no-repeat;
            width: 327px;
            height: 241px;

          }
          &.exchange {
            background-image: url("../images/exchange@3x.png");
            background-repeat: no-repeat;
            width: 397px;
            height: 257px;
          }
          &.otc {
            background-image: url("../images/otc@3x.png");
            background-repeat: no-repeat;
            width: 341px;
            height: 253px;
          }
        }
        .info-description {
          flex: 1;
          .info-title {
            font-weight: 900;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            padding: 30px 0;
          }
          div.description-text {
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            padding-bottom: 30px;
          }
          a.button.gradient {
            margin: 0 auto;
            display: block;
          }
        }

      }
    }

    .land__cripto { //change name
        .content__cripto {
          margin-bottom: 7rem;
          margin-top: 5rem;
          h2.middle-title {
            font-weight: 900;
            font-size: 34px;
            line-height: 41px;
            text-align: center;
          }
        }
    }


    section.ellipse {
      @include ellipse;
    }

    .cards__mobile {
      @media #{$breakpoint} {
        display: inline-block !important;
        width: 320px;
        height: 460px;
        margin-left: 200px;
      }
      .card__cell {
        margin-right: 20px;
        height: 360px;
      }
    }

    .card__cell {
      color: var(--white);
      h1.side-text {
        font-weight: 900;
        font-size: 34px;
        line-height: 41px;
      }

      h3.side-description {
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
      }

      a.card-link {
        font-size: 16px;
        line-height: 19px;
        color: var(--violet);
      }

      &.card {
        background: var(--white);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 48px 30px;
        margin-bottom: 20px;
        color: var(--gray);
      }
    }

    .land__cards {
      display: contents;
      .cards__container {
        &:first-child {
          grid-column: 1 / span 3;
        }

        &:nth-child(2) {
          grid-column: 5 / span 4;
          margin-top: 100px;
        }

        &:nth-child(3) {
          grid-column: 9 / span 4;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    footer.footer__container {
      color: var(--white);
      display: contents;
      .footer__block {
        &:first-child {
          grid-column: auto / span 3;
        }
        &:nth-child(2) {
          grid-column: 6 / span 2;
        }
        &:nth-child(3) {
          grid-column: 8 / span 2;
        }
        &:nth-child(4) {
          grid-column: 10 / span 3;
        }
      }
      h1.footer__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
      }
      h2.footer__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
      }

      h3.footer__items {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
      }

      a.button.gradient {
        color: var(--purple);
        background: var(--white);
        display: block;
        width: 100%;
      }

      a.button.outline {
        display: block;
        width: 100%;
        color: var(--white);
        border: var(--white) solid 1px;
      }
      hr {
        margin: 57px 0px 0px 0px
      }

      .disclaimer {
        grid-column: auto / span 7;
        h3.footer__items {
          margin: 0;
          font-weight: bold;
        }
      }
      .social-networks {
        grid-column: auto / span 5;
        display: flex;
        flex-direction: row;
        margin-bottom: 144px;
        .icon {
          background-repeat: no-repeat;
          width: 34px;
          height: 34px;
          border: 1px solid var(--white);
          border-radius: 50%;
          background-position: 50%;
          margin-right: 10px;
        }
        //TODO: optimize with mixins
        .facebook {
          background-image: url(../images/fb_logo.svg);
        }

        .twitter {
          background-image: url(../images/twitter_logo.svg);
        }

        .instagram {
          background-image: url(../images/instagram_logo.svg);
        }

        .youtube {
          background-image: url(../images/youtube_logo.svg);
        }

        .linkedin {
          background-image: url(../images/linkedin_logo.svg);
        }
         :last-child {
          margin-left: auto;
        }
      }
    }

    //Utility classes
    .col__12 {
      grid-column: auto / span 12;
    }
    .flex {
      display: flex;
    }
    .justify-start {
      align-items: flex-start;
    }
    .items-center {
      align-items: center;
    }
    .white__space {
      height: 500px;
    }
    .white__space--150 {
      height: 150px;
    }
    .justify-center {
      justify-content: center;
    }
    .side-margins-0 {
      margin-right: 0;
      margin-left: 0;
    }
  }
}