doctype html
html
    head
        title Ripio
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Ripio Web Challenge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body.content__wrapper.bg__content
        section.menu.col__12
            div.menu__left.flex.items-center
                //u can do it better ->
                div.menu__item
                    img(src="https://ripio-cms-us.s3.amazonaws.com/filer_public/55/8e/558e23db-b6ad-43ce-9bcd-3a67e07b0244/logo_ripio.svg")
                div.menu__item
                    div.dropdown
                        a.dropdown__button Comunidad
                div.menu__item
                    div.dropdown
                        a.dropdown__button Market
                div.menu__item
                    div.dropdown
                        a.dropdown__button Más productos



