doctype html
html
    head
        title Ripio Challenge - Web Developer
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Ripio Web Challenge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body.container__wrapper.background__content
        section.menu.col__12
            div.menu__left.flex.items-center
                div.menu__item
                    svg(width='67' height='32' viewbox='0 0 68 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0)')
                            path(d='M5.86543 11.1765H5.90775C6.88122 9.39165 8.57421 8.62671 10.5635 8.62671H11.5369V13.5563C10.8174 13.1739 10.1402 13.0889 9.37838 13.0889C6.54262 13.0889 5.8231 14.9587 5.8231 17.466V23.2881H0.744141V8.7967H5.86543V11.1765Z' fill='#373744')
                            path(d='M19.3247 8.79688H14.2034V23.2882H19.3247V8.79688Z' fill='#373744')
                            path(d='M28.2975 10.4542H28.3398C29.271 9.00929 31.0063 8.32935 32.6993 8.32935C37.0164 8.32935 39.9791 11.9416 39.9791 16.1062C39.9791 20.2709 37.0164 23.7981 32.7416 23.7981C31.091 23.7981 29.3556 23.2032 28.2552 21.9283V29.8752L23.1762 32V8.79681H28.2975V10.4542ZM28.1282 16.0637C28.1282 17.8911 29.3556 19.2935 31.4296 19.2935C33.5035 19.2935 34.7309 17.8911 34.7309 16.0637C34.7309 14.2789 33.5035 12.7915 31.4296 12.7915C29.3133 12.7915 28.1282 14.2789 28.1282 16.0637Z' fill='#373744')
                            path(d='M47.8092 8.79688H42.6879V23.2882H47.8092V8.79688Z' fill='#373744')
                            path(d='M67.7441 16.0637C67.7441 20.9934 63.681 23.7556 59.0676 23.7556C54.4542 23.7556 50.391 20.9934 50.391 16.0637C50.391 11.1341 54.4542 8.32935 59.0676 8.32935C63.7233 8.32935 67.7441 11.1341 67.7441 16.0637ZM55.8086 16.0637C55.8086 17.8911 57.036 19.2935 59.1099 19.2935C61.1838 19.2935 62.4112 17.8911 62.4112 16.0637C62.4112 14.2789 61.1838 12.7915 59.1099 12.7915C56.9937 12.7915 55.8086 14.2789 55.8086 16.0637Z' fill='#373744')
                            path(d='M19.3247 4.80212L14.3304 6.79947V2.03984L19.3247 0V4.80212Z' fill='#373744')
                            path(d='M47.7669 4.80212L42.7726 6.79947V2.03984L47.7669 0V4.80212Z' fill='#373744')
                        defs
                            clippath#clip0
                                rect(x='0.744141' width='67' height='32' fill='white')

                div.menu__item.hide-mobile
                    div.dropdown
                        a(href='').dropdown__button Comunidad
                div.menu__item.hide-mobile
                    div.dropdown
                        a(href='').dropdown__button Market
                div.menu__item.hide-mobile
                    div.dropdown
                        a(href='').dropdown__button Más productos
                            svg.icon-chevron(width='11', height='11', viewBox='0 0 10 6', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M0.744141 1L4.74414 5L8.74414 1', stroke='black')
            div.menu__right.flex.items-center.hide-mobile
                div.menu__item
                    a(href='') Ingresar
                div.menu__item
                    a(href='').button.outline Registrate
        section.page__content.col__12
            div.content__left.justify-start
                h1 Descubrí la nueva economía digital
                p.subtitle Empezá el camino de la innovación financiera.
                a.button Abrir mi cuenta
            div.content__right.hide-mobile
        section.white__space.col__12
        section.page__statement.col__12
            div.statement__content
                h2.middle-title Qué podés hacer en Ripio
        section.page__products.col__12
            div.content__product
                div.info-description
                    div.info-title Cuenta en pesos
                    div.description-text Activá tu cuenta digital gratis y gestioná tu dinero como prefieras.
                    a.button.gradient Más información
                div.info__img.wallet
            div.content__product
                div.info-description
                    div.info-title Exchange
                    div.description-text Compra y vende criptomonedas. El precio lo pones tú.
                    a.button.gradient Más información
                div.info__img.exchange
            div.content__product
                div.info-description
                    div.info-title OTC
                    div.description-text Trading para instituciones e inversores mayoristas.
                    a.button.gradient Más información
                div.info__img.otc
        section.white__space.col__12
        section.ellipse
        div.siema.cards__mobile.hide-desktop
            include templates/cards.pug
        section.page__cards.col__12.hide-mobile
            div.cards__container
                div.card__cell.col__12
                    h1.side-text Protegemos lo más valioso para vos
                    h3.side-description Todos tus activos en un solo lugar. Libres de riesgo y complicaciones.
            div.cards__container
                div.card__cell.card
                    svg(width='52' height='61' viewbox='0 0 52 61' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M25.865 60.1979C25.61 60.1979 25.355 60.1739 25.1121 60.1259C24.9299 60.0899 24.7599 60.042 24.5899 59.982C18.7002 57.9554 13.8305 55.1134 10.1145 51.5279C6.85999 48.3981 4.38266 44.5848 2.74325 40.1959C-0.244121 32.1735 -0.0741077 23.2757 0.0594739 16.1287V16.0208C0.0837615 15.4212 0.108049 14.7976 0.120193 14.1021C0.168768 11.0323 2.63396 8.49006 5.75491 8.32218C13.0533 7.91446 18.7123 5.56411 23.5456 0.911362L23.582 0.875387C24.2013 0.311782 25.0149 0 25.865 0C26.7151 0 27.5287 0.311782 28.1602 0.887379L28.1966 0.923354C33.0298 5.5761 38.6767 7.92645 45.9873 8.33417C49.0961 8.50205 51.5734 11.0443 51.622 14.1141C51.6341 14.8216 51.6463 15.4572 51.6827 16.0448V16.0807C51.8163 23.2397 51.9863 32.1495 48.9868 40.1959C47.3474 44.5848 44.87 48.3981 41.6155 51.5279C37.9117 55.1014 33.042 57.9434 27.1523 59.982C26.9822 60.042 26.8122 60.0899 26.6301 60.1259C26.3751 60.1739 26.12 60.1979 25.865 60.1979ZM25.865 2.41031C25.6464 2.41031 25.4278 2.49425 25.2457 2.63815L25.2335 2.65015L25.2214 2.66214C22.5862 5.20436 19.7445 7.07505 16.5507 8.41811C13.3448 9.76117 9.85951 10.5166 5.88849 10.7325C4.04263 10.8284 2.58538 12.3274 2.54895 14.1501C2.53681 14.8576 2.52466 15.5051 2.48823 16.1287V16.1767C2.34251 23.4916 2.18464 31.7658 5.02628 39.3684C8.29296 48.1223 14.9478 54.1181 25.3914 57.7156C25.4521 57.7396 25.525 57.7516 25.5857 57.7636C25.6829 57.7876 25.78 57.7875 25.865 57.7875C25.9622 57.7875 26.0472 57.7756 26.1443 57.7636C26.205 57.7516 26.2779 57.7396 26.3386 57.7156C36.7701 54.1181 43.4249 48.1103 46.6916 39.3684C49.5454 31.7418 49.3754 23.4556 49.2418 16.1407V16.1287C49.2175 15.5171 49.1932 14.8696 49.1811 14.1501C49.1568 12.3274 47.6874 10.8284 45.8537 10.7325C41.8827 10.5166 38.3974 9.76117 35.1914 8.41811C31.9976 7.08704 29.1681 5.20436 26.5208 2.66214L26.5086 2.65015L26.4965 2.63815C26.3143 2.48226 26.0836 2.41031 25.865 2.41031Z' fill='#373744')
                        path(d='M25.8631 44.8006C17.6539 44.8006 10.9748 38.2052 10.9748 30.0989C10.9748 21.9925 17.6539 15.3972 25.8631 15.3972C34.0723 15.3972 40.7514 21.9925 40.7514 30.0989C40.7514 38.2052 34.0723 44.8006 25.8631 44.8006ZM25.8631 17.8075C19.0018 17.8075 13.4035 23.3236 13.4035 30.1109C13.4035 36.8981 18.9897 42.4142 25.8631 42.4142C32.7243 42.4142 38.3226 36.8981 38.3226 30.1109C38.3226 23.3236 32.7243 17.8075 25.8631 17.8075Z' fill='#01EABB')
                        path(d='M23.1192 36.2026C22.7913 36.2026 22.4877 36.0827 22.257 35.8548L19.0146 32.6531C18.541 32.1854 18.541 31.4179 19.0146 30.9502C19.2453 30.7224 19.5489 30.6025 19.8768 30.6025C20.2047 30.6025 20.5082 30.7224 20.739 30.9502L23.1192 33.3006L30.7455 25.7699C30.9762 25.542 31.2798 25.4221 31.6077 25.4221C31.9356 25.4221 32.2391 25.542 32.4699 25.7699C32.9435 26.2375 32.9435 27.005 32.4699 27.4727L23.9814 35.8548C23.7506 36.0827 23.447 36.2026 23.1192 36.2026Z' fill='#373744')

                    h1.side-text Seguridad
                    h3.side-description Combinamos HTTPS, Cloudfare e cold storage para proteger seus fundos.
                    a(href='').card-link Entenda
                div.card__cell.card
                    svg(width='56' height='63' viewbox='0 0 56 63' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clipcube)')
                            path(d='M41.8222 37.9684L40.6035 40.0909L53.4802 47.484L54.6988 45.3615L41.8222 37.9684Z' fill='#373744')
                            path(d='M13.588 37.9077L0.612366 45.3576L1.831 47.4801L14.8067 40.0302L13.588 37.9077Z' fill='#373744')
                            path(d='M27.6573 63L0 47.1235V15.8765L27.6573 0L55.3147 15.8765V47.1235L27.6573 63ZM2.44755 45.704L27.6573 60.1772L52.8671 45.704V17.296L27.6573 2.82284L2.44755 17.296V45.704Z' fill='#373744')
                            path(d='M28.8815 1.90094H26.434V16.4231H28.8815V1.90094Z' fill='#373744')
                            path(d='M27.6586 47.8334C18.6598 47.8334 11.3416 40.5152 11.3416 31.5164C11.3416 22.5176 18.6598 15.1994 27.6586 15.1994C36.6574 15.1994 43.9756 22.5176 43.9756 31.5164C43.9756 40.5152 36.6574 47.8334 27.6586 47.8334ZM27.6586 17.647C20.0141 17.647 13.7891 23.8719 13.7891 31.5164C13.7891 39.1609 20.0141 45.3859 27.6586 45.3859C35.3031 45.3859 41.5281 39.1609 41.5281 31.5164C41.5281 23.8719 35.3031 17.647 27.6586 17.647Z' fill='#F8A1A0')
                            path(d='M27.6588 33.1725L0.613312 17.6469L1.83709 15.5257L27.6588 30.3497L53.4804 15.5257L54.6961 17.6469L27.6588 33.1725Z' fill='#373744')
                            path(d='M28.8815 31.6306H26.434V61.5886H28.8815V31.6306Z' fill='#373744')
                        defs
                            clippath#clipcube
                                rect(width='55.3147' height='63' fill='white')

                    h1.side-text Inovação
                    h3.side-description Somos líderes em desen- volvimento de blockchain e smart contracts.
                    a(href='').card-link Entenda
            div.cards__container
                div.card__cell.card
                    svg(width='68' height='48' viewbox='0 0 68 48' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(d='M31.9448 5.3023C32.3888 5.81012 33.1447 5.85966 33.6367 5.40138C34.1287 4.9431 34.1767 4.16278 33.7327 3.65496C33.6247 3.51871 32.5688 2.34204 30.7449 1.59889C29.0291 0.905271 26.2933 0.471761 23.0296 2.44113C18.3619 5.24037 14.3302 2.72601 13.9823 2.49068C13.7423 2.30489 12.7224 1.59889 11.3065 1.35117C9.81861 1.10345 7.62278 1.31401 5.58295 3.75405C2.85916 7.02395 1.95924 8.17584 1.75525 8.43595C1.41928 8.80753 -0.0805996 10.5663 0.00339372 12.8206C0.0393908 13.861 0.399362 14.8271 1.07131 15.7189C1.1313 15.8428 1.2153 15.9666 1.32329 16.0781L1.57527 16.3134C1.74325 16.4868 1.92324 16.6602 2.11522 16.8213L7.83877 22.2835L9.54263 20.5247L3.23114 14.5175C2.70318 13.9477 2.4272 13.3532 2.4032 12.7339C2.34321 11.3467 3.49511 10.1452 3.49511 10.1328L3.55511 10.0709L3.60311 10.009C3.6151 9.99658 4.37104 9.0057 7.3828 5.37661C9.78261 2.49068 12.2784 4.27426 12.5544 4.48482L12.6144 4.53436C12.7584 4.63345 15.1342 6.23124 18.4819 6.23124C20.1978 6.23124 22.1656 5.82251 24.2175 4.58391C26.1373 3.43201 28.0092 3.18429 29.761 3.86552C31.1169 4.38573 31.9208 5.27752 31.9448 5.3023ZM39.9962 14.2574C40.6801 14.2574 41.2321 13.6876 41.2321 12.9816C41.2321 12.2756 40.6801 11.7058 39.9962 11.7058C39.3122 11.7058 38.7603 12.2756 38.7603 12.9816C38.7603 13.6876 39.3122 14.2574 39.9962 14.2574ZM60.2746 30.8174C60.2266 29.5045 59.6866 28.2907 58.7507 27.4113L53.0271 21.9491C50.0754 19.1374 46.2117 16.1276 43.4879 14.084C42.948 13.6876 42.204 13.8115 41.808 14.3688C41.4241 14.9262 41.5441 15.6941 42.084 16.1029C44.7598 18.097 48.5395 21.0449 51.4073 23.7698L57.1188 29.232C57.5748 29.6779 57.8508 30.2724 57.8748 30.9165C57.8988 31.5606 57.6828 32.1799 57.2508 32.6629C56.3749 33.6414 54.875 33.7034 53.9271 32.7992L44.6398 23.9432C44.1479 23.4849 43.3919 23.5097 42.948 24.0175C42.492 24.5253 42.528 25.3057 43.02 25.7639L43.3799 26.1108C43.4159 26.1603 43.4639 26.2098 43.5119 26.2594L52.9432 35.2764C53.3991 35.7223 53.6751 36.3168 53.6991 36.9609C53.7231 37.6049 53.5071 38.2242 53.0751 38.7073C52.1992 39.6858 50.6993 39.7477 49.7514 38.8435L48.8875 38.0137C48.7795 37.8898 48.6595 37.766 48.5395 37.6421L41.2561 30.7059L40.3202 29.8142C39.8282 29.3435 39.0723 29.3806 38.6283 29.8761C38.4243 30.099 38.3283 30.3715 38.3163 30.6564C38.3163 30.6688 38.3163 30.6812 38.3163 30.6936C38.3163 30.7183 38.3163 30.7431 38.3163 30.7679C38.3283 31.0899 38.4603 31.3996 38.7003 31.6349L39.6482 32.5391L47.1356 39.6982C47.8676 40.6271 47.8556 42.002 47.0396 42.9061L47.0156 42.9309C46.5837 43.414 45.9957 43.6865 45.3718 43.7112C44.7358 43.736 44.1359 43.5007 43.6679 43.0672L39.6002 39.2275C39.5402 39.1532 39.4682 39.0913 39.3962 39.0169L35.4006 35.2021C34.9086 34.7314 34.1527 34.7686 33.7087 35.2764C33.3367 35.6851 33.2887 36.292 33.5527 36.7503C33.6127 36.8742 33.6967 36.9856 33.8047 37.0847L37.8964 40.9739C38.7243 41.9029 38.7363 43.3396 37.8964 44.281L37.8844 44.2934C37.4524 44.7764 36.8764 45.0489 36.2405 45.0737C35.6045 45.0985 35.0046 44.8755 34.5486 44.4296L29.737 39.8344C29.581 40.3794 29.2931 40.8996 28.8731 41.3331L28.3451 41.8781L32.9168 46.2504C33.8047 47.0926 34.9446 47.5509 36.1445 47.5509C36.2045 47.5509 36.2765 47.5509 36.3365 47.5509C37.6084 47.5013 38.7843 46.944 39.6482 45.9779L39.6602 45.9655C40.2482 45.3214 40.6201 44.5411 40.8001 43.736L42.024 44.9003C42.936 45.7797 44.0999 46.2008 45.2638 46.2008C46.5477 46.2008 47.8316 45.6682 48.7675 44.6278L48.7915 44.603C49.5114 43.7979 49.9314 42.7947 50.0274 41.779C50.4474 41.9029 50.8793 41.9648 51.3233 41.9648C51.3833 41.9648 51.4553 41.9648 51.5153 41.9648C52.7872 41.9153 53.9631 41.3579 54.815 40.3918C55.9309 39.1408 56.3029 37.4439 55.9429 35.8957C57.0708 35.7842 58.1747 35.264 59.0027 34.335C59.8786 33.3813 60.3226 32.1303 60.2746 30.8174Z' fill='#FFD371')
                        path(d='M26.6527 33.9883C26.9647 32.4401 26.5447 30.7804 25.3928 29.5789C24.6488 28.811 23.7129 28.3527 22.741 28.2165C22.873 27.7582 22.945 27.2751 22.945 26.7797C22.945 25.4916 22.453 24.2777 21.5771 23.3736C20.6892 22.457 19.5252 21.9616 18.2773 21.9616C17.8094 21.9616 17.3414 22.0359 16.8975 22.1721C16.7775 21.1441 16.3335 20.1532 15.5656 19.3729C13.7417 17.4902 10.7779 17.4902 8.95409 19.3729L4.40645 24.0672C2.5826 25.9498 2.5826 29.0092 4.40645 30.8918C5.0064 31.5111 5.73834 31.9323 6.50628 32.1428C5.84633 32.9975 5.48636 34.0503 5.48636 35.1526C5.48636 36.4408 5.97832 37.6546 6.85425 38.5588C7.76618 39.5001 8.96609 39.9708 10.154 39.9708C11.1739 39.9708 12.1818 39.6363 13.0218 38.9551C13.2257 39.7354 13.6217 40.4786 14.2217 41.0855C15.1336 42.0268 16.3335 42.4975 17.5214 42.4975C18.3253 42.4975 19.1293 42.2869 19.8492 41.8534C20.0292 42.7576 20.4732 43.5875 21.1211 44.2563C22.033 45.1977 23.2329 45.6683 24.4209 45.6683C25.6208 45.6683 26.8087 45.1977 27.7206 44.2563L29.7124 42.2002C30.6004 41.2837 31.0803 40.0822 31.0803 38.7941C31.0803 37.506 30.5884 36.2921 29.7124 35.388C28.8725 34.5085 27.7686 34.0379 26.6527 33.9883ZM6.09831 29.133C5.21039 28.2165 5.21039 26.7302 6.09831 25.8136L10.646 21.1193C11.0899 20.661 11.6659 20.4381 12.2538 20.4381C12.8418 20.4381 13.4177 20.661 13.8617 21.1193C14.7496 22.0359 14.7496 23.5222 13.8617 24.4387L9.31406 29.133C8.42613 30.0496 6.98624 30.0496 6.09831 29.133ZM11.7619 36.8123C10.8739 37.7289 9.43405 37.7289 8.54612 36.8123C7.65819 35.8958 7.65819 34.4095 8.54612 33.4929L16.6575 25.12C17.5454 24.2034 18.9853 24.2034 19.8732 25.12C20.3052 25.5659 20.5332 26.148 20.5332 26.7797C20.5332 27.4114 20.2932 27.9935 19.8732 28.4394L11.7619 36.8123ZM19.1413 39.3391C18.2533 40.2556 16.8135 40.2556 15.9255 39.3391C15.0376 38.4225 15.0376 36.9362 15.9255 36.0196L20.4732 31.3254C20.9171 30.8671 21.4931 30.6441 22.081 30.6441C22.669 30.6441 23.2449 30.8671 23.6889 31.3254C24.5768 32.2419 24.5768 33.7282 23.6889 34.6448L19.1413 39.3391ZM28.0326 40.4538L26.0407 42.5223C25.1528 43.4388 23.7129 43.4388 22.825 42.5223C22.393 42.0764 22.165 41.4942 22.165 40.8626C22.165 40.2309 22.405 39.6487 22.825 39.2028L24.8168 37.1468C25.2608 36.6885 25.8367 36.4655 26.4247 36.4655C27.0126 36.4655 27.5886 36.6885 28.0326 37.1468C28.4645 37.5927 28.6925 38.1748 28.6925 38.8065C28.6925 39.4382 28.4645 40.0203 28.0326 40.4538ZM67.6054 10.8018C67.3294 9.4641 66.6455 8.51038 66.4895 8.3122L62.7578 3.14725C61.0179 0.67005 58.9421 0.385173 57.5142 0.570962C56.1343 0.756752 55.1144 1.42559 54.9104 1.57423L51.8267 3.59314C48.239 5.98364 45.6232 4.48493 41.9995 2.42886C37.7038 -0.0235648 34.74 1.8591 34.608 1.93342L27.9966 6.61532L27.9126 6.70202C25.9447 8.73332 25.9447 12.0404 27.9126 14.0717C29.8684 16.0906 33.0362 16.103 35.004 14.1212L36.5759 12.7835C37.0918 12.35 37.1518 11.5697 36.7319 11.0371C36.3119 10.5045 35.556 10.4426 35.04 10.8761L33.4321 12.2509L33.3481 12.3253C32.3162 13.3905 30.6364 13.3905 29.6044 12.3253C29.1005 11.805 28.8245 11.1238 28.8245 10.393C28.8245 9.69943 29.0765 9.04297 29.5324 8.53515L35.8799 4.03904C36.0839 3.91518 37.9438 2.96146 40.8235 4.60879C42.7434 5.71114 44.5672 6.73918 46.5231 7.14792C48.7909 7.61859 50.9387 7.13553 53.0986 5.69876L56.1943 3.66746L56.2423 3.64269C56.2543 3.64269 56.9623 3.13486 57.8862 3.03577C59.0141 2.91191 59.974 3.43212 60.8139 4.62118L64.5817 9.8109L64.6057 9.84806C64.6057 9.86045 65.1096 10.5169 65.2656 11.3839C65.4576 12.4367 65.0856 13.3657 64.1017 14.2079L64.0777 14.2327L54.6104 23.4603L56.3743 25.1448L65.6736 16.0906C67.3294 14.6538 68.0134 12.7712 67.6054 10.8018Z' fill='#373744')

                    h1.side-text Confianza
                    h3.side-description Mais de 250.000 pessoas escolheram utilizar nossa plataforma.
                    a(href='').card-link Entenda
        section.white__space.col__12
        footer.col__12.footer__container.hide-mobile
            div.footer__block
                h1.footer__title Empezá el camino de la innovación financiera.
                h1
                    a.button.gradient Registrate
                h1
                    a.button.outline Iniciar sesión
            div.footer__block
                h2.footer__subtitle Productos
                each item in ['Cuenta en pesos', 'Criptomonedas', 'Créditos', 'Exchange', 'OTC']
                    h3.footer__items= item
            div.footer__block
                h2.footer__subtitle Aprender
                each item in ['Cotización BTC', '¿Cómo comprar BTC?', 'Ripio TV', 'Blog', 'Comunidad']
                    h3.footer__items= item
            div.footer__block
                h2.footer__subtitle Institucional
                each item in ['Nosotros', 'Trabajá con nosotros', 'Términos y condiciones', 'Help center', 'FAQ']
                    h3.footer__items= item
            hr.col__12
            div.disclaimer
                h3.footer__items © 2018 Ripio | Las transacciones de activos digitales y criptomonedas representan inversiones de alto riesgo y no son recomendadas para todo tipo de inversores.
            div.social-networks
                each logo in ['facebook','twitter','instagram','youtube','linkedin']
                    a(href='http://www.' + logo + '.com', target="_blank").icon(class=logo)
                svg(width='67' height='32' viewbox='0 0 68 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0)')
                        path(d='M5.86543 11.1765H5.90775C6.88122 9.39165 8.57421 8.62671 10.5635 8.62671H11.5369V13.5563C10.8174 13.1739 10.1402 13.0889 9.37838 13.0889C6.54262 13.0889 5.8231 14.9587 5.8231 17.466V23.2881H0.744141V8.7967H5.86543V11.1765Z' fill='#fff')
                        path(d='M19.3247 8.79688H14.2034V23.2882H19.3247V8.79688Z' fill='#fff')
                        path(d='M28.2975 10.4542H28.3398C29.271 9.00929 31.0063 8.32935 32.6993 8.32935C37.0164 8.32935 39.9791 11.9416 39.9791 16.1062C39.9791 20.2709 37.0164 23.7981 32.7416 23.7981C31.091 23.7981 29.3556 23.2032 28.2552 21.9283V29.8752L23.1762 32V8.79681H28.2975V10.4542ZM28.1282 16.0637C28.1282 17.8911 29.3556 19.2935 31.4296 19.2935C33.5035 19.2935 34.7309 17.8911 34.7309 16.0637C34.7309 14.2789 33.5035 12.7915 31.4296 12.7915C29.3133 12.7915 28.1282 14.2789 28.1282 16.0637Z' fill='#fff')
                        path(d='M47.8092 8.79688H42.6879V23.2882H47.8092V8.79688Z' fill='#fff')
                        path(d='M67.7441 16.0637C67.7441 20.9934 63.681 23.7556 59.0676 23.7556C54.4542 23.7556 50.391 20.9934 50.391 16.0637C50.391 11.1341 54.4542 8.32935 59.0676 8.32935C63.7233 8.32935 67.7441 11.1341 67.7441 16.0637ZM55.8086 16.0637C55.8086 17.8911 57.036 19.2935 59.1099 19.2935C61.1838 19.2935 62.4112 17.8911 62.4112 16.0637C62.4112 14.2789 61.1838 12.7915 59.1099 12.7915C56.9937 12.7915 55.8086 14.2789 55.8086 16.0637Z' fill='#fff')
                        path(d='M19.3247 4.80212L14.3304 6.79947V2.03984L19.3247 0V4.80212Z' fill='#fff')
                        path(d='M47.7669 4.80212L42.7726 6.79947V2.03984L47.7669 0V4.80212Z' fill='#fff')
                    defs
                        clippath#clip0
                            rect(x='0.744141' width='67' height='32' fill='white')

